@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input-field {
		@apply w-full p-2 mt-2 font-semibold text-gray-800
         bg-white border border-gray-400 rounded-lg dark:bg-gray-800
          dark:border-gray-700 dark:text-gray-50 focus:border-primary-800
           dark:focus:border-primary-500 focus:outline-none disabled:bg-gray-200 disabled:border-none disabled:dark:bg-gray-700;
	}
	.btn {
		@apply bg-primary-500 dark:bg-primary-900 text-white flex px-4 py-2 items-center space-x-2
		hover:bg-primary-600 active:bg-primary-700 active:ring active:ring-primary-300;
	}
	.btn-outline {
		@apply text-primary-500 hover:text-white border py-2 border-primary-500 hover:bg-primary-500 bg-white text-sm px-5 text-center dark:bg-transparent dark:text-primary-500 dark:hover:text-white dark:hover:bg-primary-900;
	}
	.btn-text {
		@apply text-primary-500 border-none shadow-none py-2 border-primary-500 hover:bg-primary-200 bg-transparent text-sm px-5 text-center dark:bg-transparent dark:text-primary-500 dark:hover:bg-primary-600/10;
	}
	.tag {
		@apply px-2 py-1 font-medium leading-tight text-green-700 bg-green-100
		 rounded-full dark:bg-green-700 dark:text-green-100;
	}
	.admin-tag {
		@apply tag text-red-700 bg-red-100
		 rounded-full dark:bg-red-700 dark:text-red-100;
	}
	.staff-tag {
		@apply tag text-blue-700 bg-blue-100
		 rounded-full dark:bg-blue-700 dark:text-blue-100;
	}
	.input-field-unstyled > input {
		@apply font-mono bg-white/80 rounded-none disabled:bg-transparent dark:bg-gray-700 dark:disabled:bg-transparent border-none focus:border outline-none my-1;
	}
	.select-field {
		@apply bg-white/80 border-none text-gray-900 font-mono rounded-none w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:disabled:bg-transparent dark:text-white;
	}
}
